@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: thin; /* Firefox */
      }
      
      /* Chrome, Safari, Edge, Opera */
      .no-scrollbar::-webkit-scrollbar {
        width: 8px; /* Adjust width as needed */
        height: 8px; /* Adjust height as needed */
      }
      
      /* Track */
      .no-scrollbar::-webkit-scrollbar-track {
        background: transparent; /* Background of the track */
      }
      
      /* Handle */
      .no-scrollbar::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, skyblue, blue); /* Gradient handle */
        border-radius: 10px; /* Rounded corners for the handle */
      }
      
      /* Hover effect for the scrollbar handle */
      .no-scrollbar::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(to bottom, deepskyblue, darkblue); /* Darker gradient on hover */
      }
      
      /* Optional: Style the input elements to hide spin buttons */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
}
